body {
    display: flex;
    justify-content: center;
    flex-direction: column;

}
header {
    display: flex;
    justify-content: center;
}
fieldset {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-radius: 3%;
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
